*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
    background: linear-gradient(135deg, pink, purple, blueviolet, red);
}
.calculator{
    width: 400px;
    height: 490px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px; 
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.calculator #display{
    width: 100%;
    height: 80px; 
    font-size: 24px;
    text-align: right;
    background: whitesmoke;
    border: none; 
    margin-bottom: 20px;
    color: black;
}
.calculator .buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.buttons #btn1{
    width: 175px;
    background: rgb(196, 192, 192);
}
.buttons #btn2{
    width: 175px;
    background: green;
}
.calculator .buttons .first-row{
    grid-column: span 4; 
}
button{
    height: 50px;
    font-size: 20px;
    background-color: #f0f0f0; 
}
button:nth-child(4n), 
button:nth-child(8n),
button:nth-child(12n),
button:nth-child(16n) {
    background-color: white;
}
button:hover{ 
    background-color: #ddd; 
}
button:active{
    transform: scale(0.95); 
}
#btn3, #btn4, #btn5, #btn6{
    background: white;
}
